extends layout

block content
	h4 palce: #{title}
	hr
	h2 Heading
	p="Posted on: December 14, 2013"
	p
		Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
		a(href="#" role="button") View details &raquo;
	
	h2 Heading
	p="Posted on: December 14, 2013"
	p
		Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. 
		a(href="#" role="button") View details &raquo;
	
	h2 Heading
	p="Posted on: December 14, 2013"
	p
		Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
		a(href="#" role="button") View details &raquo;
		
	p Welcome to #{title}